<link href="/css/footer.css" rel="stylesheet" type="text/css">

<footer class="page-footer orange darken-4">
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col s12 m6 l6">
                Proudly built with ❤ in Durham, NC<br>
                For Overwriters and Overreaders everywhere<br>
                <br>
                © 2020 Overwrite / Collabowrite
            </div>
            <div class="col l4 offset-12 m6 s12 right">
                Designed using <a class="teal-text text-lighten-2" target="_new" href="https://materializecss.com">Materialize CSS</a><br>
                Built using <a class="teal-text text-lighten-2" target="_new" href="https://expressjs.com">Express.js</a><br>
                Created by <a class="teal-text text-lighten-2" target="_new" href="https://www.linkedin.com/in/palmerja/">Jake Palmer</a><br>
                Source on <a class="teal-text text-lighten-2" target="_new" href="https://github.com/ijambro/overwrite">GitHub</a>
            </div>
        </div>
    <!-- </div> -->

</footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.js"></script>
