<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/about.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header"); %>

<main>
    <h1>About</h1>

    <div class="card-panel hoverable">
        <h3>Why Overwrite?</h3>
        <br>Some stories, books and poems deserve an overwrite.
    </div>

    <div class="card-panel teal lighten-2 hoverable">
        <h3>Who we are?</h3>
        <br>This is a fun little web application provided to the world by Jake Palmer, an otherwise-employed software engineer with a little free time.
    </div>
 
</main>

<%- include("../partials/footer"); %>

</body>
</html>