<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/books.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "books" }); %>

<main>
    <h6>Select a book to read all of its overwrites</h6>
 
    <a href="/add-book" class="btn-floating btn-large waves-effect waves-light teal lighten-2 hoverable right"><i class="material-icons">add</i></a>
    
    <div class="row">
        <div class="col s6 m4 l3">
            <div class="hoverable card">
                <div class="card-image">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1595440101l/53490148._SX318_.jpg">
                    <!-- <span class="card-title">The Ickabog</span> -->
                    <a class="btn-floating halfway-fab waves-effect waves-light teal hoverable"><i class="material-icons">edit</i></a>
                </div>
                <div class="card-content">
                    <p>The Ickabog (by JK Rowling)</p>
                </div>
            </div>
        </div>

        <div class="col s6 m4 l3">
            <div class="hoverable card">
                <div class="card-image">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388546395l/263622.jpg">

                    <a class="btn-floating halfway-fab waves-effect waves-light teal hoverable"><i class="material-icons">edit</i></a>
                </div>
                <div class="card-content">
                    <p>The Berenstain Bears and the Green-Eyed Monster (by Stan Berenstain, Jan Berenstain)</p>
                </div>
            </div>
        </div>

    </div>
 
</main>

<%- include("../partials/footer"); %>

</body>
</html>