<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/books.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "books" }); %>

<main>
    <h3>All Books</h3>
    <a class="btn-floating btn-large waves-effect waves-light teal lighten-2 hoverable right"><i class="material-icons">add</i></a>

    <h6>Select a book to read all of its overwrites</h6>
    
    <form id="searchform left">
        <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>

    <div class="card-panel teal lighten-2 hoverable">
        <br>Some text deserves an overwrite.
    </div>
 
</main>

<%- include("../partials/footer"); %>

</body>
</html>