<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <!-- <link href="/css/create-source.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "books" }); %>

<main>

    <div class="row">
        <form class="col s12" action="/sources" method="POST">
            <div class="row">
                <div>
                    <label class="col s3">
                        <input name="source-type" type="radio" value="book" checked />
                        <span>Book</span>
                    </label>
                    <label class="col s3">
                        <input name="source-type" type="radio" value="poem" />
                        <span>Poem</span>
                    </label>
                    <label class="col s3">
                        <input name="source-type" type="radio" value="song" />
                        <span>Song</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="author" name="author" type="text" class="validate">
                    <label for="author">Author</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="coverImageUrl" name="coverImageUrl" type="url" class="validate">
                    <label for="coverImageUrl">Cover image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="source-text" name="source-text" class="materialize-textarea validate"></textarea>
                    <label for="source-text">Text</label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
      </div>
 
</main>

<%- include("../partials/footer"); %>

</body>
</html>