<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <!-- <link href="/css/home.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "home" }); %>

<main>
    <h4>Collabo-write here, write now</h4>

    <div class="row">
        <div class="col s6 m4 l4">
            <div class="hoverable card">
                <div class="card-image">
                    <!-- Photo by Andrea Piacquadio from Pexels -->
                    <!-- https://www.pexels.com/photo/smart-adult-female-student-reading-book-in-studio-3772620/-->
                    <img src="/img/pexels-andrea-piacquadio-3772620.jpg">
                    <span class="card-title">Why Overwrite?</span>
                </div>
                <div class="card-content">
                    <p>- Snazz up any book, poem or song with your own creativity! </p>
                    <p>- Write a parody, satire, or spinoff version of your own.</p>
                    <p>- Or, edit for gender-parity, religious views, or just to make it kid-friendly.</p>
                </div>
            </div>
        </div>

        <div class="col s6 m4 l4">
            <div class="medium hoverable card">
                <div class="card-image">
                    <!-- Photo by August de Richelieu from Pexels -->
                    <!-- https://www.pexels.com/photo/happy-family-sitting-and-looking-at-a-laptop-4260753/-->
                    <img src="/img/pexels-august-de-richelieu-4260753.jpg">
                    <span class="card-title">What next?</span>
                </div>
                <div class="card-content">
                    <p>- Find a <a class="teal-text text-lighten-2" href="/sources?type=book">book</a> or <a class="teal-text text-lighten-2" href="/sources?type=song">song</a> in our catalog, or add one you'd like to overwrite.</p>
                    <p>- Add versions you like to your library, for an easy bedtime reading list.</p>
                </div>
            </div>
        </div>

        <div class="col s6 m4 l4">
            <div class="hoverable card">
                <div class="card-image">
                    <img src="/img/ComicBookJake-cropped.jpg">
                    <span class="card-title">Who are we?</span>
                    <a href="mailto:ijambro@gmail.com" class="btn-floating halfway-fab waves-effect waves-light teal hoverable"><i class="material-icons">email</i></a>
                </div>
                <div class="card-content">
                    <p>- A dad who never stops reading (and changing words on the fly) to his sons, Leon and Adrian.</p>
                    <p>- My overwrites will add humor, install surprises, balance genders and de-emphasize violence.</p>
                </div>
            </div>
        </div>
    </div>

    <h4>Top Overwrites</h4>

    <%- include("../partials/sources-pane"); %>
</main>

<%- include("../partials/footer"); %>

</body>
</html>