<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <!-- <link href="/css/home.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "home" }); %>

<main>
    <div class="row">
        <div class="col s12 m6">
            <div class="medium hoverable card">
                <div class="card-image">
                    <!-- Photo by Andrea Piacquadio from Pexels -->
                    <!-- https://www.pexels.com/photo/smart-adult-female-student-reading-book-in-studio-3772620/-->
                    <img src="/img/pexels-andrea-piacquadio-3772620.jpg">
                    <span class="card-title">Why Overwrite?</span>
                </div>
                <div class="card-content">
                    <p>Some books could be improved.  Most song lyrics deserve an overwrite.</p>
                    <p>Add your own creativity, satire, spinoff, gender-parity, other improvements, or just make it kid-friendly.</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="medium hoverable card">
                <div class="card-image">
                    <!-- Photo by August de Richelieu from Pexels -->
                    <!-- https://www.pexels.com/photo/happy-family-sitting-and-looking-at-a-laptop-4260753/-->
                    <img src="/img/pexels-august-de-richelieu-4260753.jpg">
                    <span class="card-title">What next?</span>
                </div>
                <div class="card-content">
                    <p>Find a <a class="teal-text text-lighten-2" href="/books">book</a> or <a class="teal-text text-lighten-2" href="/songs">song</a> in our library, or add one you'd like to overwrite.</p>
                    <p>You can <a class="teal-text text-lighten-2" href="/overwrites">create an overwrite</a> to write your own version!</p>
                    <p>Or, coming soon, contribute to a community overwrite!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="medium hoverable card">
                <div class="card-image">
                    <!-- Photo by cottonbro from Pexels -->
                    <!-- https://www.pexels.com/photo/man-in-gray-suit-reading-book-4855453/ -->
                    <img src="/img/pexels-cottonbro-4855453.jpg">
                    <span class="card-title">How to read with overwrites?</span>
                </div>
                <div class="card-content">
                    <p>This part is the key, and we're still figuring out the best ways to enable this.</p>
                    <p>Printable cut-outs?  Printable versions?  API to feed overwrites to your e-reader?</p>
                    <p>What would you suggest?</p>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="hoverable card">
                <div class="card-image">
                    <img src="/img/ComicBookJake-cropped.jpg">
                    <span class="card-title">Who are we?</span>
                    <a href="mailto:ijambro@gmail.com" class="btn-floating halfway-fab waves-effect waves-light teal hoverable"><i class="material-icons">email</i></a>
                </div>
                <div class="card-content">
                    <p>This is a fun little web application by a dad who never stops reading (and changing words on the fly) to his sons, Leon and Adrian.</p>
                    <p>My overwrites will add humor, install surprises, balance genders and de-emphasize violence.</p>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include("../partials/footer"); %>

</body>
</html>