<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header"); %>

<main>
    <h3>Community-edited, community-revised.</h3>

    <div class="card-panel teal lighten-2 hoverable">    
        <br>Some stories, books and poems deserve an overwrite.
    </div>
 
</main>

<%- include("../partials/footer"); %>

</body>
</html>