<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <!-- <link href="/css/library.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "library" }); %>

<main>
    <h2>Your Library</h2>
     
    <div class="container">
        <div class="card-panel orange lighten-2">
            <p>Your library is empty.</p>
            <p>This page is under construction and not yet saving your overwrites.</p>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>

</body>
</html>