<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <!-- <link href="/css/library.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "library" }); %>

<main>
    <h2>Your Library</h2>
     
    <%- include("../partials/sources-pane"); %>
</main>

<%- include("../partials/footer"); %>

</body>
</html>