<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/overwrites.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header"); %>

<main>
    <h3>All Overwrites</h3>
    <h6>See the top overwrites from our community</h6>
    
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    
    <div class="card-panel teal lighten-2 hoverable">
        <br>Some text deserves an overwrite.
    </div>
 
</main>

<%- include("../partials/footer"); %>

</body>
</html>