<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/sources.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "sources" }); %>

<main>
    <br>
    <div class="row">
        <a title="Add a new text to our catalog" href="/sources/add" class="btn-floating btn-large waves-effect waves-light teal lighten-2 hoverable right"><i class="material-icons">add</i></a>
    </div>
    
    <%- include("../partials/sources-pane"); %>
</main>

<%- include("../partials/footer"); %>

</body>
</html>